<% unless setup.nil? %>
    <h3>Setup for <%=setup.player.name%>:</h3>
    <p>Company: <%= setup.company %></p>
    <% if setup.game.expansion_prelude %>
        <p>Prelude cards: <%= setup.prelude_cards.values.join(", ") %>
    <% end %>
    <% if setup.game.finishing? %>
        <p>Cash Production: <%= setup.cash_production %></p>
        <p>Steel Production: <%= setup.steel_production %></p>
        <p>Titanium Production: <%= setup.titanium_production %></p>
        <p>Plant Production: <%= setup.plant_production %></p>
        <p>Energy Production: <%= setup.energy_production %></p>
        <p>Heat Production: <%= setup.heat_production %></p>
        <p>Green Tiles: <%= setup.green_tiles %></p>
        <p>City Tiles: <%= setup.city_tiles %></p>
        <p>Other Tiles: <%= setup.other_tiles %></p>    
        <p>Score: <%= setup.score %></p>            
    <% end %>
<% end %>