<h1> <%=Player.find(@setup.player_id).name%>'s game setup:</h1>

<p>Company: <%= @setup.company %></p>
<p>Score: <%= @setup.score %></p>
<p>Green Tiles: <%= @setup.green_tiles %></p>
<p>City Tiles: <%= @setup.city_tiles %></p>
<p>Other Tiles: <%= @setup.other_tiles %></p>
<p>Cash Production: <%= @setup.cash_production %></p>
<p>Steel Production: <%= @setup.steel_production %></p>
<p>Titanium Production: <%= @setup.titanium_production %></p>
<p>Plant Production: <%= @setup.plant_production %></p>
<p>Energy Production: <%= @setup.energy_production %></p>
<p>Heat Production: <%= @setup.heat_production %></p>
<% if @setup.game.expansion_prelude %>
    <p>Prelude cards: <%= @setup.prelude_cards.values.join(", ") %>
<% end %>

<ul>
    <% if @setup.game.start_time %>
        <li> Back to <div class=link_to><%= link_to @setup.game.start_time, @setup.game %></div></li>
    <% else %>
        <li> Back to the <div class=link_to><%= link_to "game", @setup.game %></div></li>
    <% end %>
</ul>