<h2>Please review the following information. Is it correct?</h2>

<% unless @game.starting_player.nil? %>
    <p>Starting player: <%= @game.starting_player.name%></p>
<% end %>
<p>Expansions used: <%= @game.get_expansions_names.join(", ") %></p>
<p>Drafting: <%= @game.drafting %></p>
<% if @game.expansion_colonies %>
    <p>Colonies: <%= @game.colonies.join(", ") %></p>
<% end %>
<% milestones_prettyprint = @game.milestones.select { |m| m.reached and m.owner}.collect {|m| "#{m.name} (#{m.owner.name})" } %>
<p>Milestones: <%= milestones_prettyprint.join(", ") %></p>
<% awards_prettyprint = @game.awards.select { |a| a.financed and a.owner}.collect { |a| a.second ? "#{a.name} (#{a.owner.name}, #{a.second.name})" : "#{a.name} (#{a.owner.name})" } %>
<p>Awards: <%= awards_prettyprint.join(", ") %></p>
<p>Player setups:</p>
<%= render @game.setups%>

<%= button_to "End the game", @game, {params: {game: {end_time: Time.now, status: "finished"}}, method: :patch} %>

<div class=link_to >
    <%= link_to "Go back to editing", game_eval_steps_path(@game) %>
</div>