<h1><%=@setup.player.name%>'s final score:</h1>

<%= form_with model: @setup, url: wizard_path do |form| %>
    <% if @setup.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @setup}%>
    <% end %>
    
    <div>
        <%= form.label :score %><br>
        <%= form.number_field :score, min:1 %><br>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>    
<% end %>

<%= button_to "Back", game_eval_step_back_path(@game, @step, id: params[:id]), {method: :put} %>