<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>

    <p> Financed awards: </p>
    <ul>
        <%= form.fields_for :awards do |awards_form| %>
            <li>
                <%= awards_form.object.name %> was financed
                <%= awards_form.check_box :financed, {data: {forcemax: {max_num:3, group: "awards"}, checkedenable: {toggle: false, group: awards_form.object.name}}} %>
                <%= awards_form.collection_select :owner_id, @game.players.order(:name), :id, :name, {}, {disabled: !awards_form.object.financed, data: {checkedenable: {toggle: true, group: awards_form.object.name}}} %>
                <% if @game.players.size > 2 # second place %>
                    <%= awards_form.collection_select :second_id, @game.players.order(:name), :id, :name, {}, {disabled: !awards_form.object.financed, data: {checkedenable: {toggle: true, group: awards_form.object.name}}} %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <p> Reached milestones: </p>
    <ul>
        <%= form.fields_for :milestones do |milestones_form| %>
            <li>
                <%= milestones_form.object.name %> was reached
                <%= milestones_form.check_box :reached, {data: {forcemax: {max_num:3, group: "milestones"}, checkedenable: {toggle: false, group: milestones_form.object.name}}}%>
                <%= milestones_form.collection_select :owner_id, @game.players.order(:name), :id, :name, {}, {disabled: !milestones_form.object.reached, data: {checkedenable: {toggle: true, group: milestones_form.object.name}}} %>
            </li>
        <% end %>
    </ul>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>

<%= button_to "Back", game_eval_step_back_path(@game, @step, id: params[:id]), {method: :put} %>