<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    <div>
        <%= form.label :generations %><br>
        <%= form.number_field :generations, min: 1 %><br>
    </div>
    <div class=submit_button>
        <%= form.submit %>
    </div>
<% end %>