<h1><%=@setup.player.name%>'s final production</h1>

<%= form_with model: @setup, url: wizard_path do |form| %>
    <% if @setup.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @setup}%>
    <% end %>
    
    <div>
        <%= form.label :cash_production %><br>
        <%= form.number_field :cash_production, min:-5 %><br>
    </div>               
    <div>
        <%= form.label :steel_production %><br>
        <%= form.number_field :steel_production, min:0 %><br>
    </div>       
    <div>
        <%= form.label :titanium_production %><br>
        <%= form.number_field :titanium_production, min:0 %><br>
    </div>       
    <div>
        <%= form.label :plant_production %><br>
        <%= form.number_field :plant_production, min:0 %><br>
    </div>       
    <div>
        <%= form.label :energy_production %><br>
        <%= form.number_field :energy_production, min:0 %><br>
    </div>       
    <div>
        <%= form.label :heat_production %><br>
        <%= form.number_field :heat_production, min:0 %><br>
    </div>
    <div class=submit_button>
        <%= form.submit %>
    </div>    
<% end %>

<%= button_to "Back", game_eval_step_back_path(@game, @step, id: params[:id]), {method: :put} %>