<h1><%=@setup.player.name%>'s tiles</h1>

<%= form_with model: @setup, url: wizard_path do |form| %>
    <% if @setup.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @setup}%>
    <% end %>
    
    <div>
        <%= form.label :green_tiles %><br>
        <%= form.number_field :green_tiles, min:0 %><br>
    </div>
    <div>
        <%= form.label :city_tiles %><br>
        <%= form.number_field :city_tiles, min:0 %><br>
    </div>
    <div>
        <%= form.label :other_tiles %><br>
        <%= form.number_field :other_tiles, min:0 %><br>
    </div>    
    <div class="submit_button">
        <%= form.submit %>
    </div>    
<% end %>

<%= button_to "Back", game_eval_step_back_path(@game, @step, id: params[:id]), {method: :put} %>