<div id="errorExplanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
</div>