<h1>Edit a game of Terraforming Mars</h1>

<% if @game.setting_up? %>
    You should not have ended up here.
    Please <div class=link_to><%= link_to "leave", game_setup_steps_path(@game)%></div>.
<% elsif @game.running? %>
    <%= form_with model: @game do |form| %>
        <% if @game.errors.any? %>
            <%= render partial: "shared/error_messages", locals: {object: @game}%>
        <% end %>
        
        <% if @game.expansion_prelude %>
            <div>
                <%= form.fields_for :setups, @game.setups.select {|s| s.company=="Valley Trust"} do |setup_form| %>
                    <li>
                        <%= setup_form.label "#{setup_form.object.player.name}'s third prelude card" %>
                        <%= setup_form.select :prelude_three, @game.get_available_prelude_cards %>
                    </li>
                <% end %>
            </div>
        <% end %>
        <% if @game.expansion_colonies %>
            <input type=button value="Colonies" data-showhide='colonies'>
            <div id="showhide" style="display:none" data-showhide='colonies'>
                <% colonies = ["Europa", "Triton", "Callisto", "Ceres", "Enceladus", "Titan", "Miranda", "Ganymede", "Luna", "Io", "Pluto"] %>
                <% colonies.each do |c| %>
                    <%= form.label c %><br>
                    <%= form.check_box :colonies, { multiple:true }, c, false %><br>
                <%end%>
            </div>
        <% end %>
        <div>
            <%= form.label :cap_oxygen %><br>
            <%= form.number_field :cap_oxygen, { min:1, data: {cap: true}} %>
        </div>
        <div>
            <%= form.label :cap_ocean %><br>
            <%= form.number_field :cap_ocean, { min:1, data: {cap: true}} %>
        </div>
        <div>
            <%= form.label :cap_temperature %><br>
            <%= form.number_field :cap_temperature, { min:1, data: {cap: true}} %>
        </div>
        <% if @game.expansion_venus_next %>
            <div>
                <%= form.label :cap_venus %><br>
                <%= form.number_field :cap_venus, min:1 %>
            </div>
        <% end %>
        <div>
            <%= form.hidden_field :status, {data: {caphidden: "status"}} %>
            <%= form.hidden_field :generations, {data: {caphidden: "generations"}}%>
        </div>
        <div class="submit_button">
            <%= form.submit nil, {data: {capsubmit: true}}%>
        </div>
    <% end %>
<%elsif @game.finishing? %>
    You should not have ended up here.
    Please <div class=link_to><%= link_to "leave", game_eval_steps_path(@game) %></div>.
<%else # has finished%>
    The game has already ended, it cannot be edited.
    <div class=link_to><%= link_to "Show", @game %></div>
<%end%>