<h1>Terraforming Mars Tracker</h1>

<%= image_tag "header.jpg" %>
<br>
<div class="link_to">
<%= link_to "Start a new game", new_game_path%>
</div>

<br>

<div class="link_to">
<%= link_to "View all players", players_path%>
</div>

<h2>Past games</h2>

<ul style="width: 90%; height: 250px; overflow:auto">
    <% @games.reverse_each do |game| %>
        <li class="link_to">
            <%= link_to game.start_time, game%><br>
        </li>
    <%end %>
</ul>

<h2>Expansions count</h2>

<% expansions = {expansion_advanced: "Advanced", expansion_prelude: "Prelude", 
                 expansion_hellas: "Hellas", expansion_elysium: "Elysium", 
                 expansion_colonies: "Colonies", expansion_venus_next:"Venus Next", expansion_turmoil: "Turmoil"}%>
<% expansion_count = [] %>
<% expansions.each do |sym, name| %>
    <% expansion_count << [name, @games.where(sym=>true).count]%>
<% end %>
<%= pie_chart expansion_count%>