<h1>Start a new game of Terraforming Mars</h1>

<%= form_with model: @game do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    
    <div>
        <%= form.label :players %><br>
        <%= form.collection_check_boxes :player_ids, Player.order(:name), :id, :name do |b|%>
            <%=b.label do%>
                <%=b.check_box%>
                <%=b.object.name%><br>                
            <%end%>
        <%end%>
        <br>
        <li class="link_to"><%= link_to "Add new player", new_player_path %></li>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>