<% if @game.start_time %>
    <h1>Game at <%= @game.start_time %></h1>
<% else %>
    <h1>Current game</h1>
<% end %>

<p>Starting time: <%= @game.start_time %></p>
<p>End time: <%= @game.end_time %></p>
<p>Starting player: <%= @game.starting_player.name%></p>
<p>Number of generations played: <%= @game.generations %></p>
<p>Drafting: <%= @game.drafting %></p>
<p>Expansions used: <%= @game.get_expansions_names.join(", ") %></p>
<% if @game.expansion_colonies %>
    <p>Colonies: <%= @game.colonies.join(", ") %></p>
<% end %>
<p>Environment caps:</p>
<ul>
    <li>Oxygen: <%= @game.cap_oxygen %></li>
    <li>Ocean: <%= @game.cap_ocean %></li>
    <li>Temperature: <%= @game.cap_temperature %></li>
    <% if @game.expansion_venus_next %>
        <li>Venus: <%= @game.cap_venus %></li>
    <%end %>
</ul>
<% milestones_prettyprint = @game.milestones.select { |m| m.reached }.collect {|m| "#{m.name} (#{m.owner.name})" } %>
<p>Milestones: <%= milestones_prettyprint.join(", ") %></p>
<% awards_prettyprint = @game.awards.select { |a| a.financed and a.owner}.collect { |a| a.second ? "#{a.name} (#{a.owner.name}, #{a.second.name})" : "#{a.name} (#{a.owner.name})" } %>
<p>Awards: <%= awards_prettyprint.join(", ") %></p>
<p>Player setups:</p>
<ul>
    <%@game.setups.each do |setup|%>
        <li class=link_to><%= link_to Player.find(setup.player_id).name, setup_path(setup)%></li>
    <%end%>
</ul>

<ul>
    <% unless @game.finished? %>
    <li class=link_to><%= link_to "Edit", edit_game_path(@game) %></li>
    <% end %>
    <li><%= button_to "Delete", game_path(@game), {method: :delete, data: { confirm: "Are you sure?" } } %></li>
</ul>

<div class=link_to>
    <%= link_to "Back to overview", root_path %>
</div>