<h1>Known players</h1>

<% wins_per_player = []%>
<% scores_per_player = []%>

<% @players.each do |player| %>
    <ul>
        <li>
        <%= player.name%>
        <% wins_per_player << {name: player.name, wins: player.get_all_wins.count} %>
        <% scores_per_player << {name: player.name, scores: player.setups.select{|s| s.score && s.game.start_time}.map {|s| [s.game.start_time.to_date, s.score]}}%>
        </li>
    </ul>
<%end %>

<div class=link_to>
    <%= link_to "New Player", new_player_path %>
</div>

<h2>Score per player</h2>
<%= line_chart scores_per_player.map {|s|
    {name: s[:name], data: s[:scores]}
}%>

<h2>Wins per player</h2>
<%= pie_chart wins_per_player.pluck(:name, :wins)%>