<h1>Add a new player</h1>

<%= form_with model: @player do |form| %>
    <% if @player.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @player}%>
    <% end %>
    
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>