<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    
    <div>
        <%= form.label :starting_player %>
        <%= form.collection_select :starting_player_id, @game.players, :id, :name %>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>

<%= button_to "Cancel", game_path(@game), { method: :delete, data: { confirm: "Are you sure?" } } %>