<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    
    <div>
        <%= form.check_box :expansion_turmoil %>
        <%= form.label :expansion_turmoil %><br>
    </div>
    <div>
        <%= form.check_box :expansion_colonies %>
        <%= form.label :expansion_colonies %><br>
    </div>
    <div>
        <%= form.check_box :expansion_prelude %>
        <%= form.label :expansion_prelude %><br>
    </div>
    <div>
        <%= form.check_box :expansion_hellas, {data: {forcemax: {max_num:1, group: "hellas_elysium"}}}%>
        <%= form.label :expansion_hellas %><br>
    </div>
    <div>
        <%= form.check_box :expansion_elysium, {data: {forcemax: {max_num:1, group: "hellas_elysium"}}}%>
        <%= form.label :expansion_elysium %><br>
    </div>
    <div>
        <%= form.check_box :expansion_venus_next %>
        <%= form.label :expansion_venus_next %><br>
    </div>
    <div>
        <%= form.check_box :expansion_advanced %>
        <%= form.label :expansion_advanced %><br>
    </div>
    <div>
        <%= form.check_box :drafting %>
        <%= form.label :drafting %> <br>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>

<%= button_to "Back", game_setup_step_back_path(@game, @step, id: params[:id]), {method: :put} %>