<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    
    <div>
        <% colonies = ["Europa", "Triton", "Callisto", "Ceres", "Enceladus", "Titan", "Miranda", "Ganymede", "Luna", "Io", "Pluto"] %>
        <% colonies.each do |c| %>
            <%= form.check_box :colonies, { multiple:true }, c, false %>
            <%= form.label c %><br>
        <%end%>
    </div>
    <div class="submit_button">
        <%= form.submit %>
    </div>    
<% end %>

<%= button_to "Back", game_setup_step_back_path(@game, @step, id: params[:id]), {method: :put} %>