<%= form_with model: @game, url: wizard_path do |form| %>
    <% if @game.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @game}%>
    <% end %>
    
    <p> Milestones: </p>
    <% milestones = {%>
        <%"Basic" => ["Terraformer", "Mayor", "Gardener", "Builder", "Planner"],%>
        <%"Hellas" => ["Diversifier", "Tactitian", "Polar Explorer", "Energizer", "Rim Settler"],%>
        <%"Elysium" => ["Generalist", "Specialist", "Ecologist", "Tycoon", "Legend"],%>
        <%"Venus" => ["Hoverlord"]%>
    <%}%>  
    <ul>
        <%= form.fields_for :milestones do |milestones_form| %>
            <li>
                <%= milestones_form.select :name, milestones, {selected: milestones_form.object.get_selected(milestones_form.index)} %>
            </li>
        <% end %>
    </ul>
    <p> Awards: </p>
    <% awards = {%>
        <%"Basic" => ["Landlord", "Scientist", "Banker", "Thermalist", "Miner"],%>
        <%"Hellas" => ["Cultivator", "Magnate", "Space Baron", "Excentric", "Contractor"],%>
        <%"Elysium" => [ "Celebrity", "Industrialist", "Desert Settler", "Estate Dealer", "Benefactor"],%>
        <%"Venus" => ["Venuphile"]%>
    <%}%>
    <ul>
        <%= form.fields_for :awards do |awards_form| %>
            <li>
                <%= awards_form.select :name, awards, {selected: awards_form.object.get_selected(awards_form.index)} %>
            </li>
        <% end %>
    </ul>
    <div class="submit_button">
        <%= form.submit %>
    </div>
<% end %>

<%= button_to "Back", game_setup_step_back_path(@game, @step, id: params[:id]), {method: :put} %>