<h1>Player setup for <%=@setup.player.name%></h1>

<%= form_with model: @setup, url: wizard_path, local:true do |form| %>
    <% if @setup.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {object: @setup}%>
    <% end %>

    <div>
        <%= form.label :company %>
        <% company_options = {"Basic" => ["Starting Corporation", "Credicor", "Ecoline", "Helion", "Mining Guild", "Interplanetary Cinematics",
                                          "Inventrix", "Phobolog", "Tharsis Republic", "Thorgate", "United Nations Mars Initiative"]} %>
        <% company_options["Advanced"] = ["Teractor", "Saturn Systems"] if @setup.game.expansion_advanced %>
        <% company_options["Prelude"] = ["Cheung Shing Mars", "Point Luna", "Robinson Industries", "Valley Trust", "Vitor"] if @setup.game.expansion_prelude %>
        <% company_options["Colonies"] = ["Aridor", "Arklight", "Polyphemos", "Poseidon", "Storm Craft Incorporated"] if @setup.game.expansion_colonies %>
        <% company_options["Venus Next"] = ["Aphrodite", "Celestic", "Manutech", "Morning Star Inc", "Viron"] if @setup.game.expansion_venus_next %>
        <% company_options["Turmoil"] = ["Lakefront Resorts", "Pristar", "Septem Tribus", "Terralabs Research", "Utopia Invest"] if @setup.game.expansion_turmoil %>
        <% company_options["Promotional"] = ["Factorum", "Mons Insurance", "Philares", "Arcadian Communities", "Recyclon", "Splice Tactical Genomics"] %>
        <%= form.select :company, company_options %>
    </div>
    <% if @setup.game.expansion_prelude %>
        <div>
            <%= form.label :prelude_cards %><br>
            <% prelude_list = ["#P01 Allied Banks", "#P02 Aquifer Turbines", "#P03 Biofuels", "#P04 Biolab",
                               "#P05 Biosphere Support", "#P06 Business Empire", "#P07 Dome Farming", "#P08 Donation",
                               "#P09 Early Settlement", "#P10 Ecology Experts", "#P11 Excentric Sponsor", "#P12 Experimental Forest",
                               "#P13 Galilean Mining", "#P14 Great Aquifer", "#P15 Huge Asteroid", "#P16 Io Research Outpost",
                               "#P17 Loan", "#P18 Martian Industries", "#P19 Metal-rich Asteroid", "#P20 Metals Company",
                               "#P21 Mining Operations", "#P22 Mohole", "#P23 Mohole Excavation", "#P24 Nitrogen Shipment",
                               "#P25 Orbital Construction Yard", "#P26 Polar Industries", "#P27 Power Generation", "#P28 Research Network",
                               "#P29 Self-Sufficient Settlement", "#P30 Smelting Plant", "#P31 Society Support", "#P32 Supplier",
                               "#P33 Supply Drop", "#P34 UNMI Contractor", "#P35 Acquired Space Agency"] %>
            <%= form.select :prelude_one, prelude_list %>
            <%= form.select :prelude_two, prelude_list %>
        </div>
    <% end %>
    <div class="submit_button">
        <%= form.submit %>
    </div>    
<% end %>

<%= button_to "Back", game_setup_step_back_path(@game, @step, id: params[:id]), {method: :put} %>