<h2>Please review the following information. Is it correct?</h2>

<% unless @game.starting_player.nil? %>
    <p>Starting player: <%= @game.starting_player.name%></p>
<% end %>
<p>Expansions used: <%= @game.get_expansions_names.join(", ") %></p>
<p>Drafting: <%= @game.drafting %></p>
<% if @game.expansion_colonies %>
    <p>Colonies: <%= @game.colonies.join(", ") %></p>
<% end %>
<p>Available milestones: <%= @game.milestones.collect {|milestone| milestone.name}.join(", ") %></p>
<p>Available awards: <%= @game.awards.collect {|award| award.name}.join(", ") %></p>
<p>Player setups:</p>
<%= render @game.setups%>

<%= button_to "Start the game", @game, {params: {game: {start_time: Time.now, status: "running"}}, method: :patch} %>

<div class=link_to >
    <%= link_to "Go back to editing", game_setup_steps_path(@game) %>
</div>