@media only screen and (max-width: 1580px) {
    body {
      background-color: lightskyblue;
    }
  }

h1{color: brown;}

.button, .button_to input, .link_to a, .submit_button input {
  background-color: #af704c;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 40%;
}

li{
  margin-bottom: 10px;
  width: 500px;
}
